---
layout: default
title: Cases / Oscar - Domain-driven e-commerce for Django
container_class: cases
---
<h1 class="main"><span>Case studies, <em>made with Oscar</em></span></h1>

<div class="row">
    <div class="col-md-12">
        <div class="block--container block--container-white block--container-large">
            <p>
                Oscar is used in production by a range of companies, from large multinationals to small,
                boutique stores.
            </p>
        </div>
    </div>
</div>

<div class="row">
    {% for item in site.data.sites %}
    <div class="col-md-4 col-sm-6">
        <div class="project-card">
            {% if item.url %}
            <a href="{{ item.url }}"><img src="{{ item.screenshot }}"></a>
            {% else %}
            <img src="{{ item.screenshot }}">
            {% endif %}
            <span>
                {% if item.url %}
                <a href="{{ item.url }}">{{ item.name }}</a>
                {% else %}
                {{ item.name }}
                {% endif %}
            </span>
            {% if item.agency %}
            <span class="item-agency">
                by {{ item.agency }}
            </span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

